"*":
  "atom-ternjs": {}
  "autocomplete-plus": {}
  "bracket-matcher":
    autocompleteBrackets: false
    autocompleteSmartQuotes: false
  core:
    automaticallyUpdate: false
    disabledPackages: [
      "spell-check"
      "tree-view"
      "wrap-guide"
    ]
    packagesWithKeymapsDisabled: [
      "symbols-view"
      "omnisharp-atom"
    ]
    projectHome: "/home/ayapi/.atom/packages-custom"
    themes: [
      "ayapi-ui"
      "monokai"
    ],
    customFileTypes:
      'text.xml': [
        'wxs',
        'wxl'
      ]
  "cursor-blink-interval":
    cursorBlinkInterval: 1200
  editor:
    fontSize: 14
    invisibles:
      cr: "v"
      eol: "｣"
      space: "_"
      tab: ">"
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
    undoGroupingInterval: 1
  "exception-reporting":
    userId: "d82875f5-8c23-7271-71b1-89655f81fd84"
  linter:
    showErrorPanel: false
  "markdown-preview":
    liveUpdate: false
  "omnisharp-atom":
    codeLens: false
  welcome:
    showOnStartup: false
  whitespace:
    ensureSingleTrailingNewline: false
    removeTrailingWhitespace: false
