"*":
  "autocomplete-plus": {}
  "bracket-matcher": {}
  core:
    disabledPackages: [
      "bracket-matcher"
      "spell-check"
      "whitespace"
      "tree-view"
      "wrap-guide"
      "tabs"
    ]
    packagesWithKeymapsDisabled: [
      "symbols-view"
    ]
    themes: [
      "ayapi-ui"
      "monokai"
    ]
  "cursor-blink-interval":
    cursorBlinkInterval: 1200
  editor:
    fontSize: 9
    invisibles: {}
    showIndentGuide: true
    softWrap: true
    undoGroupingInterval: 1
  "keyboard-localization":
    useKeyboardLayout: "ja_JP"
    useKeyboardLayoutFromPath: "~/.atom/keyboard-localization.json"
  "markdown-preview":
    liveUpdate: false
  welcome:
    showOnStartup: false
  whitespace:
    ensureSingleTrailingNewline: false
    removeTrailingWhitespace: false
