'atom-workspace':
	'ctrl-shift-w': 'unset!'
	'ctrl-alt-i': 'unset!'
	'ctrl-alt-o': 'unset!'
	'ctrl--': 'unset!'
	'ctrl-+': 'unset!'

'body .native-key-bindings':
	'alt-left': 'unset!'
	'alt-right': 'unset!'
	'alt-up': 'unset!'
	'alt-down': 'unset!'
	
'atom-workspace atom-text-editor':
	'alt-left': 'unset!'
	'alt-right': 'unset!'
	'ctrl-left': 'editor:move-to-previous-subword-boundary'
	'ctrl-right': 'editor:move-to-next-subword-boundary'
	'ctrl-shift-left': 'editor:select-to-previous-subword-boundary'
	'ctrl-shift-right': 'editor:select-to-next-subword-boundary'
	'ctrl-backspace': 'editor:delete-to-beginning-of-subword'
	'ctrl-delete': 'editor:delete-to-end-of-subword'
	
'atom-workspace atom-text-editor:not([mini])':
	'ctrl-down': 'custom:editor-scroll-down'
	'ctrl-up': 'custom:editor-scroll-up'

'atom-workspace':
	# alt-= on JIS
	'alt-_': 'custom:split-down-and-new-editor'
	'alt-|': 'custom:split-global-right-and-new-editor'
	'ctrl-h': 'project-find:show'
	'ctrl-shift-f': 'fuzzy-finder:toggle-file-finder'
	'ctrl-q': 'window:close'
	'ctrl-shift-i': 'window:toggle-dev-tools'
	'ctrl-o': 'advanced-open-file:toggle'
	
'atom-workspace atom-pane':
	'alt-left': 'custom:focus-pane-on-left'
	'alt-right': 'custom:focus-pane-on-right'
	'alt-up': 'custom:focus-pane-above'
	'alt-down': 'custom:focus-pane-below'
	'alt-x' : 'custom:close-pane-and-focus-previous-if-possible'
	'alt--' : 'pane:decrease-size'
	'alt-+' : 'pane:increase-size'
	'ctrl-alt-right': 'custom:swap-pane-with-right'
	'ctrl-alt-left': 'custom:swap-pane-with-left'
	'ctrl-alt-up' : 'custom:swap-pane-with-up'
	'ctrl-alt-down' : 'custom:swap-pane-with-down'
	'ctrl-alt-shift-right': 'custom:move-pane-to-right'
	'ctrl-alt-shift-left': 'custom:move-pane-to-left'
	
'atom-workspace .ayapi-term .xterm':
	'ctrl-down': 'ayapi-term:scroll-down'
	'ctrl-up': 'ayapi-term:scroll-up'
	'alt-left': 'custom:focus-pane-on-left'
	'alt-right': 'custom:focus-pane-on-right'
	'alt-up': 'custom:focus-pane-above'
	'alt-down': 'custom:focus-pane-below'
	'alt-x': 'custom:close-pane-and-focus-previous-if-possible'
	'alt--': 'pane:decrease-size'
	'alt-+': 'pane:increase-size'
	'ctrl-alt-right': 'custom:swap-pane-with-right'
	'ctrl-alt-left': 'custom:swap-pane-with-left'
	'ctrl-alt-up' : 'custom:swap-pane-with-up'
	'ctrl-alt-down' : 'custom:swap-pane-with-down'
	'ctrl-alt-shift-right': 'custom:move-pane-to-right'
	'ctrl-alt-shift-left': 'custom:move-pane-to-left'
	
'atom-workspace ayapi-webview webview':
	'alt-left': 'custom:focus-pane-on-left'
	'alt-right': 'custom:focus-pane-on-right'
	'ctrl-home': 'ayapi-webview:backward-history'
	'ctrl-end': 'ayapi-webview:forward-history'
