'atom-workspace':
	'ctrl-shift-w': 'unset!'
	'ctrl-alt-i': 'unset!'
	'ctrl-alt-o': 'unset!'
	# alt-= on JIS
	'alt-_': 'custom:split-down-and-new-editor'
	'alt-|': 'custom:split-global-right-and-new-editor'
	'ctrl-h': 'project-find:show'
	'ctrl-shift-f': 'fuzzy-finder:toggle-file-finder'
	'ctrl-q': 'window:close'
	'ctrl-shift-i': 'window:toggle-dev-tools'
	'ctrl-o': 'advanced-open-file:toggle'

'body':
	'ctrl-tab ^ctrl': 'unset!'
	'ctrl-shift-tab ^ctrl': 'unset!'
	'ctrl--': 'unset!'
	'ctrl-+': 'unset!'
	'ctrl-q': 'unset!'
	'alt-left': 'unset!'
	'alt-right': 'unset!'
	'alt-up': 'unset!'
	'alt-down': 'unset!'

'body .native-key-bindings':
	'alt-left': 'native!'
	'alt-right': 'native!'
	'alt-up': 'native!'
	'alt-down': 'native!'
	'ctrl-down': 'native!'
	'ctrl-up': 'native!'
	'pagedown': 'native!'
	'pageup': 'native!'
	'left': 'native!'
	'right': 'native!'
	'up': 'native!'
	'down': 'native!'
	'backspace': 'native!'
	'delete': 'native!'
	'ctrl-c': 'native!'
	'ctrl-v': 'native!'
	'ctrl-z': 'native!'
	'ctrl-y': 'native!'
	'ctrl-shift-z': 'native!'
	'shift-left': 'native!'
	'shift-right': 'native!'
	'shift-up': 'native!'
	'shift-down': 'native!'
	'tab': 'native!'
	'shift-tab': 'native!'

'atom-workspace atom-text-editor':
	'alt-left': 'unset!'
	'alt-right': 'unset!'
	'ctrl-left': 'editor:move-to-previous-subword-boundary'
	'ctrl-right': 'editor:move-to-next-subword-boundary'
	'ctrl-shift-left': 'editor:select-to-previous-subword-boundary'
	'ctrl-shift-right': 'editor:select-to-next-subword-boundary'
	'ctrl-backspace': 'editor:delete-to-beginning-of-subword'
	'ctrl-delete': 'editor:delete-to-end-of-subword'
	'shift-alt-down': 'editor:add-selection-below'
	'shift-alt-up': 'editor:add-selection-above'
	
'atom-workspace atom-text-editor:not([mini])':
	'ctrl-down': 'custom:editor-scroll-down'
	'ctrl-up': 'custom:editor-scroll-up'

'atom-workspace atom-pane':
	'alt-left': 'ayapi-panes:focus-pane-on-left'
	'alt-right': 'ayapi-panes:focus-pane-on-right'
	'alt-up': 'ayapi-panes:focus-pane-above'
	'alt-down': 'ayapi-panes:focus-pane-below'
	'alt-x' : 'custom:close-pane-and-focus-previous-if-possible'
	'alt--' : 'pane:decrease-size'
	'alt-+' : 'pane:increase-size'
	'ctrl-alt-right': 'ayapi-panes:swap-pane-with-right'
	'ctrl-alt-left': 'ayapi-panes:swap-pane-with-left'
	'ctrl-alt-up' : 'ayapi-panes:swap-pane-with-above'
	'ctrl-alt-down' : 'ayapi-panes:swap-pane-with-below'
	'ctrl-alt-shift-right': 'ayapi-panes:move-pane-to-right'
	'ctrl-alt-shift-left': 'ayapi-panes:move-pane-to-left'
	'ctrl-tab': 'pane:show-next-item'
	'ctrl-shift-tab': 'pane:show-previous-item'
	
'atom-workspace .ayapi-term .xterm':
	'ctrl-down': 'ayapi-term:scroll-down'
	'ctrl-up': 'ayapi-term:scroll-up'
	'alt-left': 'ayapi-panes:focus-pane-on-left'
	'alt-right': 'ayapi-panes:focus-pane-on-right'
	'alt-up': 'ayapi-panes:focus-pane-above'
	'alt-down': 'ayapi-panes:focus-pane-below'
	'alt-x': 'custom:close-pane-and-focus-previous-if-possible'
	'alt--': 'pane:decrease-size'
	'alt-+': 'pane:increase-size'
	'ctrl-alt-right': 'ayapi-panes:swap-pane-with-right'
	'ctrl-alt-left': 'ayapi-panes:swap-pane-with-left'
	'ctrl-alt-up' : 'ayapi-panes:swap-pane-with-above'
	'ctrl-alt-down' : 'ayapi-panes:swap-pane-with-below'
	'ctrl-alt-shift-right': 'ayapi-panes:move-pane-to-right'
	'ctrl-alt-shift-left': 'ayapi-panes:move-pane-to-left'
	'ctrl-tab': 'pane:show-next-item'
	'ctrl-shift-tab': 'pane:show-previous-item'

'atom-workspace ayapi-webview webview':
	'ctrl-home': 'ayapi-webview:backward-history'
	'ctrl-end': 'ayapi-webview:forward-history'
	'alt-left': 'ayapi-panes:focus-pane-on-left'
	'alt-right': 'ayapi-panes:focus-pane-on-right'
	'alt-up': 'ayapi-panes:focus-pane-above'
	'alt-down': 'ayapi-panes:focus-pane-below'
	'alt-x': 'custom:close-pane-and-focus-previous-if-possible'
	'alt--': 'pane:decrease-size'
	'alt-+': 'pane:increase-size'
	'ctrl-alt-right': 'ayapi-panes:swap-pane-with-right'
	'ctrl-alt-left': 'ayapi-panes:swap-pane-with-left'
	'ctrl-alt-up' : 'ayapi-panes:swap-pane-with-above'
	'ctrl-alt-down' : 'ayapi-panes:swap-pane-with-below'
	'ctrl-alt-shift-right': 'ayapi-panes:move-pane-to-right'
	'ctrl-alt-shift-left': 'ayapi-panes:move-pane-to-left'
	'ctrl-tab': 'pane:show-next-item'
	'ctrl-shift-tab': 'pane:show-previous-item'

'atom-text-editor:not([mini]).omnisharp-editor':
  'f12': 'omnisharp-atom:go-to-definition'
  'shift-f12': 'omnisharp-atom:find-usages'
  'ctrl-alt-u': 'omnisharp-atom:fix-usings'
  'ctrl-k ctrl-d': 'omnisharp-atom:code-format'
  'ctrl-k ctrl-c': 'editor:toggle-line-comments'
  'ctrl-k ctrl-u': 'editor:toggle-line-comments'
  'f2': 'omnisharp-atom:rename'
  'ctrl-f12': 'omnisharp-atom:go-to-implementation'
  'f1': 'omnisharp-atom:type-lookup'
  'alt-enter': 'omnisharp-atom:get-code-actions'
  'alt-shift-t': 'omnisharp-atom:find-symbols'
  'ctrl-,': 'omnisharp-atom:find-symbols'
  'f8': 'omnisharp-atom:go-to-next-usage'
  'shift-f8,': 'omnisharp-atom:go-to-previous-usage'
  'ctrl-r ctrl-a': 'omnisharp-atom:run-all-tests'
  'ctrl-r ctrl-f': 'omnisharp-atom:run-fixture-tests'
  'ctrl-r ctrl-t': 'omnisharp-atom:run-single-test'
  'ctrl-r ctrl-l': 'omnisharp-atom:run-last-test'
