@import "ui-variables";

atom-pane.active ayapi-webview {
  outline: 1px solid @background-color-selected;
}

.ayapi-term {
  line-height: 16px;
  
  @background: transparent;
  @foreground: #ccc;
  
  // xterm monokai theme
  // !black darkgray
  @color0:    #1B1D1E;
  @color8:    #808080;
  // !darkred red
  @color1:    #FF0044;
  @color9:    #F92672;
  // !darkgreen green
  @color2:    #A6E22E;
  @color10:   #A6E22E;
  // !darkyellow yellow
  @color3:    #f4bf75;
  @color11:   #E6DB74;
  // !darkblue blue
  @color4:    #266C98;
  @color12:   #7070F0;
  // !darkmagenta magenta
  @color5:    #AC0CB1;
  @color13:   #D63AE1;
  // !darkcyan cyan
  @color6:    #AE81FF;
  @color14:   #66D9EF;
  // !gray white
  @color7:    #CCCCCC;
  @color15:   #F8F8F2;
  
  .terminal {
    background-color: @background;
    color: @foreground;
  }
  
  .terminal .terminal-cursor {
    background-color: @foreground;
    color: @background;
  }
  
  .terminal:not(.focus) .terminal-cursor {
    outline: 1px solid @foreground;
    outline-offset: -1px;
    background-color: transparent;
  }
  
  @keyframes blink-cursor {
    0% {
      background-color: @foreground;
      color: @background;
    }
    50% {
      background-color: @background;
      color: @foreground;
    }
  }
  
  .terminal .composition-view {
    background: #222;
    color: @foreground;
    z-index: 2;
  }
  
  .terminal .xterm-rows {
    z-index: 0;
  }
  
  .terminal .xterm-viewport {
    background-color: @background;
  }
  
  .colors(15);
  .colors(@n, @i: 0) when (@i =< @n) {
    @color-var-name: "color@{i}";
    .terminal .xterm-color-@{i} {
      color: @@color-var-name;
    }
    .terminal .xterm-bg-color-@{i} {
      background-color: @@color-var-name;
    }
    .colors(@n, (@i + 1));
  }
}

.settings-view .config-menu {
  width: 120px;
  min-width: 120px;
}

#linter-tooltip {
  margin: 0;
  linter-message {
    padding: 0;
    &:last-child::before {
      display: none;
    }
  }
}
