@import "ui-variables";

* {
  box-sizing: border-box;
}

body {
  background-color: rgba(0,0,0, .7);
}

atom-workspace {
  background-color: @app-background-color;
}

body /deep/ ::-webkit-scrollbar {
  width: 1px;
  height: 1px;
}

.settings-view .packages{
  height: auto;
}

.settings-view .checkbox{
  padding-left: 0;
}
