// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

ayapi-webview {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  .ayapi-webview-container {
    width: 100%;
    height: 100%;
    flex-grow: 1;
    display: flex;
    webview {
      flex-grow: 1;
    }
  }
  ayapi-webview-find-in-page {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    
    flex-grow: 0;
    flex-shrink: 0;
    
    height: @component-line-height;
    border-top: 1px solid @base-border-color;
    background: @base-background-color;
    
    .ayapi-webview-find {
      flex-grow: 1;
    }
    .ayapi-webview-find-count {
      flex-grow: 0;
      padding: 0 0.5em;
    }
  }
}
